/*-------------------------
----------defaults---------
-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*>img{
    max-width: 100%;
}
h1,h2,span{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
:root{
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}
body{
    min-height: 100vh;
    color: var(--very-dark-gray);
    font-size: 0.938rem;
    font-family: 'Alata', sans-serif;
}

/*-------------------------
-----------header----------
-------------------------*/

header{
    width: 100%;
    height: 100vh;
    background: url(./images/mobile/image-hero.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 1.5rem;
    position: relative;
}
header nav{
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
    width: calc(100% - 3rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    max-width: 150px;
    z-index: 10;
}

/* ----------hamburger----------- */

nav .menu{
    width: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -.5rem;
    position: relative;
    z-index: 10;
}
.menu .hamburger{
    position: absolute;
    width: 1.75rem;
    height: 2px;
    background: var(--white);
    border-radius: 2px;
    transition: all .3s linear;
}
.hamburger::before,.hamburger::after{
    position: absolute;
    content: '';
    width: 1.75rem;
    height: 2px;
    background: var(--white);
    border-radius: 2px;
    transition: all .3s linear;
}
.hamburger::before{
    transform: translateY(-.5rem);
}
.hamburger::after{
    transform: translateY(.5rem);
}
nav.open .hamburger{
    transform: translateX(-2.5rem);
    background: transparent;
}
nav.open .hamburger::before{
    transform: rotate(45deg) translate(2rem, -2rem);
}
nav.open .hamburger::after{
    transform: rotate(-45deg) translate(2rem, 2rem);
}

/* -------------nav-list----------------- */

nav .nav-list{
    list-style-type: none;
    position: absolute;
    top: -2.5rem;
    left: -1.5rem;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    transform: translateX(-100%);
    transition: all .3s linear;
}
nav.open .nav-list{
    transform: translateX(0);
}
.nav-list li a{
    color: var(--white);
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
}
header h1{
    color: var(--white);
    font-size: 2.5rem;
    border: 2.5px solid var(--white);
    padding: 1.5rem;
}

/*-------------------------
------------main-----------
-------------------------*/


/* ------intro-section------ */

main .intro-section{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
    padding: 5rem 1.5rem;
}
.intro-section img{
    max-width: 100%;
}
.intro-section .text-content{
    margin: 0 auto;
}
.text-content h2{
    color: var(--black);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.text-content p{
    line-height: 1.8;
}

/* ------project-section------ */

main .project-section{
    display: grid;
    gap: 1.5rem;
    padding: 3rem 1.5rem 5rem 1.5rem;
}
.project-section h2{
    color: var(--black);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.project-section .creation-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1.5rem;
}
.creation-container .creation{
    width: 100%;
    height: 100%;
    position: relative;
}
.creation::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 55%,.5);
    display: none;
    z-index: 2;
}
.creation:hover::after{
    display: block;
}
.creation img{
    width: 100%;
    height: 100%;
}
.creation span{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    color: var(--white);
    font-size: 1.5rem;
    text-shadow: 0 0 2px var(--black);
    max-width: 150px;
    z-index: 3;
}
.project-section .more{
    width: max-content;
    color: var(--black);
    font-family: 'Alata', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: .5rem 2rem;
    margin: 0 auto;
    border: 1px solid var(--black);
    transition: all .3s ease-out;
}
.more:hover{
    color: var(--white);
    background: var(--black);
}

/*-------------------------
----------footer-----------
-------------------------*/

footer{
    background: var(--black);
    text-align: center;
    padding: 5rem 1.5rem 2.5rem 1.5rem;
}
footer .footer-grid{
    display: grid;
    gap: 1rem;
}
.footer-grid .logo{
    max-width: 150px;
    margin: 0 auto;
}
.footer-grid .nav-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;
}
.footer-grid .nav-list li a{
    font-size: 1.2rem;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.footer-grid .media-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.media-list li a{
    color: var(--white);
    font-size: 2rem;
}
footer .attribution{
    font-size: .8rem;
    margin-top: 2rem;
}
.attribution a{
    color: var(--white);
}
.attribution a:hover{
    text-decoration: none;
}

/*-------------------------
-------media-queries-------
-------------------------*/

@media(min-width:650px){
    header{
        height: 85vh;
        background: url(./images/desktop/image-hero.jpg) no-repeat;
        background-size: 100% 100%;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
        justify-content: flex-start;
        align-items: flex-end;
        padding: 5rem;
    }
    header nav{
        top: 3rem;
        left: 5rem;
        width: calc(100% - 10rem);
    }
    nav .nav-list{
        height: 85vh;
        top: -3rem;
        left: -5rem;
        padding-left: 5rem;
    }
    header h1{
        max-width: 380px;
    }
    main .intro-section{
        padding: 5rem;
    }
    main .project-section{
        padding: 5rem;
    }
    .project-section .creation-container{
        grid-template-columns: 1fr 1fr;
    }
    footer{
        padding: 5rem;
        padding-bottom: 3rem;
    }
    footer .footer-grid{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 1.5rem;
    }
    .footer-grid .logo{
        margin: 0;
        order: 1;
    }
    .footer-grid .nav-list{
        order: 3;
        flex-direction: row;
        margin: 0;
    }
    .footer-grid .nav-list li a{
        font-size: .938rem;
    }
    .footer-grid .media-list{
        justify-content: flex-end;
        order: 2;
    }
    .media-list li a{
        font-size: 1.5rem;
        position: relative;
    }
    .footer-grid .rights{
        text-align: right;
        order: 4;
    }
}

@media(min-width: 1024px){
    nav .menu{
        display: none;
    }
    nav .nav-list{
        position: initial;
        width: max-content;
        height: max-content;
        background: transparent;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
        transform: translateX(0);
        padding: 0;
    }
    .nav-list li a{
        font-size: 0.938rem;
        font-family: 'Alata', sans-serif;
        font-weight: 400;
        text-transform: capitalize;
        position: relative;
    }
    .nav-list li a::before, .media-list li a::before{
        position: absolute;
        content: '';
        height: 2px;
        bottom: -10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 0;
        background: var(--white);
        transition: all .3s ease-out;
    }
    .nav-list li a:hover::before,.media-list li a:hover::before{
        width: 25px;
    }
    header h1{
        font-size: 3rem;
    }
    main .intro-section{
        flex-direction: row;
        padding: 5rem;
        position: relative;
        text-align: left;
    }
    .intro-section picture{
        height: 70vh;
    }
    .intro-section .text-content{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50vw;
        background: var(--white);
        padding: 5rem;
    }
    .text-content h2{
        font-size: 2.5rem;
    }
    main .project-section{
        grid-template-columns: auto auto;
    }
    .project-section h2{
        font-size: 2.5rem;
        order: 1;
        text-align: left;
    }
    .project-section .creation-container{
        order: 3;
        grid-column: 1/-1;
        grid-template-columns: repeat(3,1fr);
        margin-top: 3rem;
    }
    .creation-container span{
        left: 2rem;
        bottom: 2rem;
        font-size: 2rem;
        max-width: 200px;
    }
    .project-section .more{
        order: 2;
        height: max-content;
        margin: 0  0 0 auto;
    }
    footer{
        padding: 5rem 10rem 2.5rem 10rem;
    }
}
@media(min-width: 1400px){
    header{
        padding: 8rem 10rem;
    }
    header nav{
        left: 10rem;
        width: calc(100% - 20rem);
    }
    header h1{
        font-size: 4rem;
        max-width: 650px;
    }
    main .intro-section{
        padding: 10rem;
    }
    .intro-section picture{
        height: 50vh;
    }
    .intro-section .text-content{
        right: 5rem;
        width: 42vw;
    }
    .text-content p{
        font-size: .938rem;
    }
    main .project-section{
        padding: 8rem 10rem;
    }
    .project-section .creation-container{
        grid-template-columns: repeat(4,1fr);
    }
}